extends layout
block content
  .reveal
    .slides
      include ./slides/01-title.jade
      include ./slides/02-intro.jade
      include ./slides/03-preface.jade
      include ./slides/04-roles.jade
      include ./slides/05-how.jade
      include ./slides/06-what-is-mentoring.jade
      include ./slides/07-actually.jade
      include ./slides/08-types-of-devs.jade
      include ./slides/09-teams.jade
      include ./slides/10-sixteen-personalities.jade
      include ./slides/11-relax.jade
      include ./slides/12-flow.jade
      include ./slides/13-what-is-flow.jade
      include ./slides/14-benefits-of-flow.jade
      include ./slides/15-negative-feedback.jade
      include ./slides/16-be-open-minded.jade
      include ./slides/17-tldr.jade
      include ./slides/18-tldr-pt2.jade
      include ./slides/19-resources.jade
      include ./slides/20-thanks.jade