doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap')
    link(rel='stylesheet', href='/reveal/reset.css')
    link(rel='stylesheet', href='/reveal/reveal.css')
    link(rel='stylesheet', href='/reveal/theme/simple.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="/reveal/reveal.js")
  script.
      Reveal.initialize();