
body {
  font-family: 'Fira Sans', sans-serif;
}

.reveal h1{
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5em;
}
.reveal h2{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
}

.reveal ul li.size-075{
  font-size: 0.75em;
}
.reveal img{
  max-height: 40vh;
}

.reveal img.large{
  max-height: 55vh;
}

.reveal p{
 font-size: 0.75em;
}
.reveal h1.text-info{
  color:hsl(204, 86%, 53%)
}

.text-grey{
  color: hsl(0, 0%, 48%)
}
.text-05{
  padding-left: 1em;
  font-size: 0.5em;
}

.text-info{
  color:hsl(204, 86%, 53%)
}
.text-warning{
  color: hsl(48, 100%, 40%)
}

.text-danger{
  color: hsl(348, 100%, 61%)
}
.text-primary{
  color: hsl(171, 100%, 41%)
}

.text-secondary{
  color: hsl(300, 100%, 25%)
}

.text-success{
  color: hsl(141, 71%, 48%);
}