
section
    h2.text-info Technical Lead
    small.text-grey /ˈteknək(ə)l/ /lēd/
    p Software engineer responsible for leading a team and alignment of the technical direction. Involves establishing a technical vision, resolving technical disagreements and managing the technical quality of team deliverables.