section(data-auto-animate)
    h2 Why do we need tech leads?
    
section(data-auto-animate)
    h2 Why do we need tech leads?
    img(src="/images/preface.png", alt="Why we need a technical lead", srcset="")