
section
    img(src="/images/roles.png", alt="A team with a Product Manager and Tech Lead", srcset="")
    p Tech Leads additionally focus on people development (e.g. feedback or career conversations) and building a high performing team.