section
    img(src="/images/how.png", alt="How to achieve that", srcset="")
    p The most challenging aspects to software development are (almost!) always people issues. 
    p Picking the right data structures, finding the right testing approaches are simple compared to building an effective team.