section
    h2.text-info Mentoring
    p   What is it?
    ul
        li Telling a person what to do?
        li Counseling?
        li Taking responsibility for their career development?
        li Micromanaging?
        li Listening without advising?