section
    img(src="/images/well-yes.jpg", alt="Well, yes but no", srcset="")
    pre(data-id="code-animation")
        code(data-trim data-line-numbers)
        |   let goodMentoring = [];
        |   goodMentoring.push('Giving advice (Best practices, workshops)')
        |   goodMentoring.push('Sharing experience')
        |   goodMentoring.push('Use of coaching skills')
        |   goodMentoring.push('Teach them how to teach themselves')
        |   goodMentoring.push('Help learn from mistakes')