section
    h2 Types of devs you might run into
    section(data-auto-animate)
        ul
            li 
                span.text-info The Cutting Edge
                span.text-05 Those who are so far ahead, it's like they are predicting the future

    section(data-auto-animate)
        ul
            li 
                span.text-info The Cutting Edge
                span.text-05 Those who are so far ahead, it's like they are predicting the future

            li 
                span.text-primary The Friendly
                span.text-05 They have a great relationship with just about everyone

    section(data-auto-animate)
        ul
            li 
                span.text-info The Cutting Edge
                span.text-05 Those who are so far ahead, it's like they are predicting the future

            li 
                span.text-primary The Friendly
                span.text-05 They have a great relationship with just about everyone
            
            li 
                span.text-warning The Eccentric
                span.text-05 They just have a their own way of doing things. Has some quirks most of the time.

    section(data-auto-animate)
        ul
            li 
                span.text-info The Cutting Edge
                span.text-05 Those who are so far ahead, it's like they are predicting the future

            li 
                span.text-primary The Friendly
                span.text-05 They have a great relationship with just about everyone
            
            li 
                span.text-warning The Eccentric
                span.text-05 They just have a their own way of doing things. Has some quirks most of the time.
            
            li 
                span.text-success The Non-Jargon
                span.text-05 Using technical terms with them is like speaking a different language.

    section(data-auto-animate)
        ul
            li 
                span.text-info The Cutting Edge
                span.text-05 Those who are so far ahead, it's like they are predicting the future

            li 
                span.text-primary The Friendly
                span.text-05 They have a great relationship with just about everyone
            
            li 
                span.text-warning The Eccentric
                span.text-05 They just have a their own way of doing things. Has some quirks most of the time.
            
            li 
                span.text-success The Non-Jargon
                span.text-05 Using technical terms with them is like speaking a different language.

            li 
                span.text-secondary The Scientist
                span.text-05 Always experimenting and refactoring the code.

    section(data-auto-animate)
        ul
            li 
                span.text-info The Cutting Edge
                span.text-05 Those who are so far ahead, it's like they are predicting the future

            li 
                span.text-primary The Friendly
                span.text-05 They have a great relationship with just about everyone
            
            li 
                span.text-warning The Eccentric
                span.text-05 They just have a their own way of doing things. Has some quirks most of the time.
            
            li 
                span.text-success The Non-Jargon
                span.text-05 Using technical terms with them is like speaking a different language.
            li 
                span.text-secondary The Scientist
                span.text-05 They are always experimenting and refactoring the code.

            li 
                span The Unicorn
                span.text-05 They always seem to know the answer no matter what. Even if they have to Google something, they still seem to search for it differently.