section
    h2 
        span.text-info Coding is hard, make things easier for your team
    quote
        "What makes a life worth living?" Noting that money cannot make us happy, it is up to us to find pleasure and lasting satisfaction in activities that bring about a state of "flow."
    br
    br
    small Mihaly Csikszentmihalyi

    