section
    h2 What is it like to be in "Flow"
    ul
        li Completely involved in what we are doing 
            strong focused.
        li Sense of ecstasy.
        li Great inner clarity 
            strong knowing what needs to be done.
        li Knowing that your skills are adequate.
        li A sense of serenity.
        li Timelessness – Hours seem to pass by the minute.
        li Intrinsic motivation – whatever produces flow becomes its own reward.