section
    h2 Benefits of being "In the zone"
    section(data-auto-animate)
        ul
            li.size-075 Stretches one's skills.

    section(data-auto-animate)
        ul
            li.size-075 Stretches one's skills.
            li.size-075 A bit of personal growth and "feelings of competence and efficacy".  

    section(data-auto-animate)
        ul
            li.size-075 Stretches one's skills.
            li.size-075 A bit of personal growth and "feelings of competence and efficacy".  
            li.size-075 Intrinsic motivation and self-directed learning also increases.

    section(data-auto-animate)
        ul
            li.size-075 Stretches one's skills.
            li.size-075 A bit of personal growth and "feelings of competence and efficacy".  
            li.size-075 Intrinsic motivation and self-directed learning also increases.
            li.size-075 Flow has a documented correlation with high performance in the fields of artistic and scientific creativity, teaching, learning, and sports.


    section(data-auto-animate)
        ul
            li.size-075 Stretches one's skills.
            li.size-075 A bit of personal growth and "feelings of competence and efficacy".  
            li.size-075 Intrinsic motivation and self-directed learning also increases.
            li.size-075 Flow has a documented correlation with high performance in the fields of artistic and scientific creativity, teaching, learning, and sports.
            li.size-075 Flow has been linked to persistence and achievement in activities while also helping to lower anxiety during various activities.