section
    h2
        span.text-danger Not everything is sunshine and rainbows
    p When giving negative feedback, you need to be direct, ask questions, listen before you speak and consider the words you use. 
    p Focus on the job rather than the person, explain the implications of actions and offer concrete ways in which they can improve.