section
    h2
        span.text-secondary Be open-minded
    p Ask your team how they would like to receive negative feedback and remember that every employee is different. 
    p They will respond in different ways and you need to tailor your feedback to the recipient. 
    p Be open to receive feedback as well.