section
    h2
        span.text-success TLDR
    p Our personality defines us and how we interact with the world. And it comes with us wherever we go. In a work environment, it affects how we approach tasks, make decisions and manage stress.
    p Teams need a balance of personalities to be successful. 
        small A team full of highly analytical individuals with no one who thrives on action will never get things done. 
        br 
        small A team of quick start people with no one interested in paying attention to the detail might not always choose the best course of action or might butt heads over what action to take. 
    p In an ideal scenario, a team would have a mix of both personality styles - someone to drive action and someone to keep the team on the right course.