section
    h2
        span.text-info TLDR (Continued)
    p Working with a team of people can be exciting. But it can also be challenging. 
    p Once individuals in a team have a greater understanding and awareness of their own and others' personalities and behavioural styles - and how they differ - it can improve the team dynamics, so they can work together more cohesively.