section
    h2 Some useful resources
    ul
        li 
            a(href="https://www.slideshare.net/ThoughtWorks/geeksguidetoleadingteams" target="new") Geeks guide to leading teams  
        li
            a(href="https://dev.to/flippedcoding/5-types-of-developers-you-meet-in-the-office-m8i" target="new") 4 types of developers you'll meet in the office
        li
            a(href="https://www.16personalities.com/personality-types" target="new") Briggs - Myers personality types
        li
            a(href="https://www.t-three.com/soak/insights/how-understanding-different-personality-types-improves-team-dynamics" target="new") How understanding different personality types improves team dynamics
        li
            a(href="https://www.ted.com/talks/mihaly_csikszentmihalyi_flow_the_secret_to_happiness?language=en" target="new") Flow, the secret to happiness (TED)
        li
            a(href="https://hbr.org/2014/06/how-to-give-your-team-feedback" target="new") How to give your team feedback
        li
            a(href="https://talkingtalent.prosky.co/articles/learn-how-to-give-negative-feedback-to-employees#:~:text=When%20giving%20negative%20feedback%2C%20you,open%20to%20negative%20feedback%2C%20too." target="new") How to give constructive feedback